@import url("normalize.css/normalize.css");
@import url("@fortawesome/fontawesome-free/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
$margin-space: 32;
[x-cloak] {
    @apply hidden;
}

body,
.body {
    @apply h-full;
    @apply w-full;
}

main,
.main {
    @apply h-full;
    @apply w-full;
}

h1,
.h1 {
    @apply text-4xl;
    @apply mb-3;
}

h2,
.h2 {
    @apply text-3xl;
    @apply mb-3;
}

h3,
.h3 {
    @apply text-2xl;
    @apply mb-2;
}

p,
.p {
    @apply mb-1;
}

site-headline,
.site-headline {
    @apply text-secondary;
    @apply w-full;
}

site-headline:first-letter,
.site-headline:first-letter {
    @apply underline;
    @apply underline-offset-8;
}

header-nav,
.header-nav {
    @apply flex;
    @apply flex-row;
    @apply h-16;
    @apply py-3;
    @apply px-site-default;
}

nav-links,
.nav-links {
    @apply cursor-pointer;
    @apply ml-6;

    @apply pb-0.5;
    @apply border-b-0;
    @apply bg-[length:0px_3px];
    @apply bg-[0_100%];
    @apply bg-no-repeat;
    @apply duration-500;
    @apply ease-in-out;
    @apply bg-gradient-to-l;
    @apply from-white;
    @apply to-white;
}

nav-links:hover,
.nav-links:hover {
    @apply bg-[length:100%_3px];
}

nav-logo,
.nav-logo {
    @apply cursor-pointer;
    @apply w-auto;
    @apply h-full;
}

nav,
.nav {
    @apply w-full;
    @apply flex;
    @apply flex-row;
    @apply justify-end;
    @apply space-x-3;
    @apply h-auto;
    @apply items-center;
    @apply text-white;
    @apply text-2xl;
    @apply font-thin;
    @apply delay-primary;
}

app,
.app {
    display: flex;
    align-items: center;
    padding-top: 10%;
    justify-content: center;
}

header,
.header {
    @apply bg-primary;
    @apply delay-primary;
    @apply w-full;
    @apply fixed;
}

header-scroll,
.header-scroll {
    @apply bg-white;
    @apply delay-primary;
}

nav-scroll,
.nav-scroll {
    @apply text-tertiary;
    @apply delay-primary;
}

site-nav,
.site-nav {
    @apply right-4;
    @apply bottom-0;
    @apply h-screen;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply fixed;
}

site-nav-content,
.site-nav-content {
    @apply h-20;
    @apply flex;
    @apply flex-col;
    @apply justify-around;
    @apply items-end;
}

circle,
.circle {
    @apply h-4;
    @apply w-4;
    @apply bg-tertiary;
    @apply rounded-full;
    @apply flex;
    @apply hover:w-8;
    @apply hover:delay-primary;
}

current-section,
.current-section {
    @apply w-8;
}

home, 
.home {
    @apply w-full;
    @apply flex;
    @apply flex-row;
    @apply bg-primary;
    @apply text-white;
}

home-triangle,
.home-triangle {
    @apply w-full;
    @apply h-20;
    @apply bg-primary;
    @apply relative;
    @apply -z-10;
    @apply -m-0.5;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 37% 100%);

    @screen md {
        @apply m-0;
    }
}

home-title,
.home-title {
    @apply w-2/4;
    @apply h-screen;
    @apply flex;
    @apply flex-col;
    @apply justify-center;
    @apply ml-site-default;
}

home-title-content,
.home-title-content {
    @apply w-full;
    @apply flex;
    @apply flex-col;
    @apply items-start;
    @apply justify-center;
}

home-title-content>*,
.home-title-content>* {
    @apply pt-4;
    @apply pb-4;
    @apply text-left
}

home-title-content>h1,
.home-title-content>h1 {
    @apply text-7xl;
}

home-logo,
.home-logo {
    @apply w-2/4;
    @apply flex;
    @apply flex-row;
    @apply items-center;
    @apply justify-end;
    @apply mr-site-default;
}

home-logo>*,
.home-logo>* {
    @apply w-3/4;
}

description,
.description,
about,
.about,
interested,
.interested {
    @apply px-site-default;
    //@apply mt-20;
    @apply margin-top;
    @apply w-full;
    @apply flex;
    @apply flex-col;
}

question,
.question {
    @apply flex;
    @apply flex-row;
}

question:nth-child(2),
.question:nth-child(2) {
    @apply flex;
    @apply flex-row-reverse;

}

question-description,
.question-description {
    @apply w-1/2;
    @apply text-justify;
}

question-two,
.question-two {
    @apply margin-top;
}

iframe,
.iframe {
    // width: calc(100% - 3em);
    // height: calc(100vh - 20em);
    @apply w-full;
    @apply h-[36rem];
    @apply shadow-primary;
    @apply shadow-2xl;
    @apply mt-6;
}

form,
.form {
    @apply flex;
    @apply flex-col;
}

form-row,
.form-row {
    @apply flex;
    @apply flex-row;
    @apply w-full;
    @apply my-4;
}

input,
.input,
textarea,
.textarea {
    @apply w-full;
    @apply border-2;
    @apply border-solid;
    @apply py-4;
    @apply px-4;
    @apply border-tertiary;
    @apply leading-6;
}

checkboxLabel,
.checkboxLabel {
    @apply flex;
    @apply flex-row;
    @apply w-full;
    @apply justify-start;
    @apply items-center;
}

checkboxLabel > input,
.checkboxLabel > input {
    @apply appearance-none;
    @apply w-6;
    @apply h-6;
    @apply min-h-[1.5rem];
    @apply min-w-[1.5rem];
    @apply checked:bg-tertiary;
    @apply border-2;
    @apply border-solid;
    @apply mr-4;
}


button,
.button {
    @apply bg-secondary;
    @apply px-10;
    @apply py-6;
    @apply cursor-pointer;
    @apply text-white;

    @apply transition;
    @apply ease-in-out;
    @apply delay-150;
    @apply hover:scale-110;
}

footer,
.footer {
    // @apply w-full;
    height: calc(100% - 96px);
    @apply h-full;
    @apply flex;
    @apply flex-row;
    @apply justify-between;
    @apply px-site-default;
    @apply py-12;
    @apply bg-primary;
    @apply text-white;
    @apply leading-7;
    //@apply text-tertiary;
}

footer>*,
.footer>* {
    @apply w-1/5;
}

footer-contact,
.footer-contact {
    @apply flex;
    @apply flex-col;
}

footer-links,
.footer-links {
    @apply flex;
    @apply flex-col;
}

footer-border,
.footer-border {
    // @apply border-r-4;
    @apply flex;
    @apply flex-row;
    @apply justify-center;
    @apply place-items-center;
}

vl,
.vl {
    @apply w-px;
    @apply border;
    //@apply border-tertiary;
    @apply border-white;
    @apply h-full;
    @apply flex;
}

socialmedia-icons,
.socialmedia-icons {
    @apply flex;
    @apply w-full;
    @apply justify-between;
}

question-image,
.question-image {
    @apply block;
    @apply w-full;
    //@apply mb-0;
}

question-one-image,
.question-one-image {
    @apply shadow-[16px_16px];
    @apply shadow-primary;
}

question-two-image,
.question-two-image {
    @apply shadow-[-16px_16px];
    @apply shadow-primary;
}

padding-left,
.padding-left {
    @apply pl-10;
}

padding-right,
.padding-right {
    @apply pr-10;
}

padding-top,
.padding-top {
    @apply pt-20;
}

margin-top,
.margin-top {
    @apply mt-60;
}

question-image-container,
.question-image-container {
    @apply flex;
    @apply justify-center;
    @apply w-1/2;
}

alert,
.alert {
    @apply fixed;
    @apply top-24;
    @apply right-4;
    @apply w-96;
    @apply pl-8;
}

alert-container,
.alert-container {
    @apply border;
    @apply px-4;
    @apply py-3;
    @apply rounded;
    @apply relative;
    @apply pr-10;
}

alert-success-container,
.alert-success-container {
    @apply bg-green-100;
    @apply border-green-400;
    @apply text-green-700;
}

alert-error-container,
.alert-error-container {
    @apply bg-red-100;
    @apply border-red-400;
    @apply text-red-700;
}

hamburger,
.hamburger {
    @apply w-6;
    @apply flex;
    @apply items-center;
    @apply justify-center;
    @apply relative;
    @apply hidden;
}

hamburger-row,
.hamburger-row {
    @apply h-[100px];
    @apply text-white;
    @apply transform;
    @apply transition;
    @apply w-full;
    @apply h-1;
    @apply bg-current;
    @apply absolute;
}

hamburger-row-scroll,
.hamburger-row-scroll {
    @apply text-tertiary;
}

menu-close,
.menu-close,
#menu-close {
    @apply fixed;
    @apply right-site-default;
    @apply flex;
    @apply top-2;
    @apply text-5xl;
    @apply hidden;
}

form-spacing,
.form-spacing {
    @apply w-16;
}


// ------------------------------

@media (max-width: 768px) {

    hamburger,
    .hamburger {
        @apply flex;
    }

    question,
    .question {
        @apply flex;
        @apply flex-col;
        @apply w-full;
    }
    
    question:nth-child(2),
    .question:nth-child(2) {
        @apply flex;
        @apply flex-col;
    
    }

    question-image-container,
    .question-image-container {
        @apply w-full;
        @apply pl-0;
    }

    question-description,
    .question-description {
        @apply w-full;
        @apply pl-0;
        @apply pr-0;
    }
    
    site-headline,
    .site-headline {
        @apply text-left;
    }

    form-row,
    .form-row {
        @apply flex;
        @apply flex-col;
        @apply w-full;
        @apply my-4;
    }

    last-form-row,
    .last-form-row {
        @apply flex-row;
    }

    form-spacing,
    .form-spacing {
        @apply h-8;
    }       


    responsive-nav-container-open-menu,
    .responsive-nav-container-open-menu {
        @apply flex;
        @apply flex-col;
        @apply h-full;
        @apply justify-center;
        @apply text-center;
        @apply justify-around;
        @apply py-60;
        @apply delay-500;
        @apply ease-in-out;
    }

    header-nav,
    .header-nav {
        @apply justify-between;
    }


    nav-links,
    .nav-links {
        @apply cursor-pointer;
        @apply pl-0;
        @apply ml-0;
        @apply text-center;
    }

    nav-scroll,
    .nav-scroll {
        @apply text-white;
    }

    nav,
    .nav {
        @apply hidden;
    }

    menu-close,
    .menu-close,
    #menu-close {
        @apply flex;
    }
    
    nav-open-menu,
    .nav-open-menu {
        @apply flex;
        @apply flex-col;
        @apply justify-around;
        @apply items-center;
        @apply h-screen;
        @apply w-screen;
        @apply bg-primary;
        @apply text-white;
        @apply text-2xl;
        @apply fixed;
        @apply top-0;
        @apply left-0;
        @apply delay-500;
        @apply ease-in-out;
    }

    menu-close-show,
    .menu-close-show {
        @apply flex;
    }

    header-nav,
    .header-nav {
        @apply flex;
        @apply flex-row;
        @apply h-16;
        @apply py-3;
        @apply px-tablet;
    }

    home-logo,
    .home-logo {
        @apply hidden;
    }

    site-nav,
    .site-nav {
        @apply hidden;
    }
    
    hide-site-nav,
    .hide-site-nav {
        @apply hidden;
    }

    header-nav,
    .header-nav {
        @apply px-tablet;
    }
    home-title,
    .home-title {
        @apply ml-tablet;
    }

    home-logo,
    .home-logo {
        @apply mr-tablet;
    }

    home-triangle-container,
    .home-triangle-container {
        @apply w-full;
        @apply h-20;
        @apply z-0;
    }

    description,
    .description,
    about,
    .about,
    interested,
    .interested {
        @apply w-full;
        @apply px-tablet;
    }

    footer,
    .footer {
        @apply px-tablet;
    }

    menu-close,
    .menu-close,
    #menu-close {
        @apply right-tablet;
    }

}

@media (max-width: 640px) {
    footer>*,
    .footer>* {
        @apply w-full;
    }

    footer,
    .footer {
        @apply flex-col;
        @apply px-mobile;
    }

    footer-contact>p,
    .footer-contact>p {
        @apply mb-0;
    }

    question-image-container,
    .question-image-container {
        @apply w-full;
        @apply pr-0;
    }

    site-nav,
    .site-nav {
        @apply hidden;
    }

    header-nav,
    .header-nav {
        @apply px-mobile;
    }
    home-title,
    .home-title {
        @apply ml-mobile;
    }

    home-logo,
    .home-logo {
        @apply mr-mobile;
    }

    description,
    .description,
    about,
    .about,
    interested,
    .interested {
        @apply w-full;
        @apply px-mobile;
    }

    footer,
    .footer {
        @apply px-mobile;
    }

    menu-close,
    .menu-close,
    #menu-close {
        @apply right-mobile;
    }

    form-row,
    .form-row {
        @apply flex;
        @apply w-full;
        @apply my-4;
        @apply flex-col;
    }

    last-form-row,
    .last-form-row {
        @apply flex-row;
    }

    alert,
    .alert {
        @apply fixed;
        @apply top-24;
        @apply right-4;
        @apply w-full;
        @apply pl-8;
    }

    footer-border>*,
    .footer-border>* {
        @apply hidden;
    }

    footer-border,
    .footer-border {
        @apply py-6;
    }

    socialmedia-icons,
    .socialmedia-icons {
        @apply flex;
        //@apply w-1/2;
        @apply w-full;
        @apply justify-between;
    }

}